{% extends "layout.html" %}


{% block body %}

<h3>About Me!</h3>
<hr>

<p>
      I am an Information Technology Personel at HIT. 
	  I have developed skills in Computer Programming, Computer Security, Website Development, 
	  Database Management, Operating Systems and PC maintenance along with Networking and Information Security. I have above average industrial 
	  experience and one-year work related learning experience at my personal Company[Sasha Holdings].<br><br>
	  During my internship, I have obtained several skills that I feel will greatly help and allow me to fit in
	  well in IT industry. You will find that I have excellent work ethic, I am exceptionally hard working, 
	  willing to learn, bring innovation, meet 
	  deadlines and to improve business operations through technology. I have detailed my skills and qualifications further on this Web Blog.
</p>
{% endblock body %}
